@import 'ui-variables';

// Top Bar Buttons
.sheet-toolbar .btn-toolbar {
  background: none;
  background-color: @button-color-secondary;
  border: none;
  box-shadow: none;
  border-radius: 8px;
}

.sheet-toolbar {
  border-bottom: none;
  box-shadow: none;
}