@import 'ui-variables';

.toolbar-window-controls {
  display: flex;
  align-items: center;
  margin: 5px;
  min-width: 70px;
  width: 70px;
}

.toolbar-window-controls button {
  background-color: @background-secondary;
  background-position: center;
  margin: 0;
  border-radius: 100%;
}

.toolbar-window-controls:hover button {
  background-color: fade(@background-tertiary, 30%);
}

// Close Button
.toolbar-window-controls .close {
  background-color: fade(@danger, 30%);
  background-image: url("@{iconurl}window-close.svg") !important;
}

.toolbar-window-controls:hover .close {
  background-color: fade(@danger, 30%);
}

// Minimize Button
.toolbar-window-controls .minimize {
  background-image: url("@{iconurl}window-minimize.svg") !important;
}

// Maximize Button
.toolbar-window-controls .maximize {
  background-image: url("@{iconurl}window-maximize.svg") !important;
}